# SPDX-License-Identifier: GPL-2.0-only
# Audio configuration fragment for Xiaomi Pad 5 (nabu).
# The drivers are built from the kernel-overlay copies in-tree so they share
# the product kernel release with every other nabu module.
CONFIG_SND_SOC_SM8150=m
CONFIG_SND_SOC_WCD934X=m
CONFIG_SND_SOC_QDSP6_ASM_DAI=m
